<style id="fade-out"
       type="text/css" >
  @keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
  }

  .fade-out {
    position: relative;
    animation: fade-out animation-durations;
  }
<style>
