html, body {
  /* Make the body to be as tall as browser window */
  height: 100%;
}

body {
  background-color: #5881d8;
  color: #fff;
  margin: 0;
  text-transform: lowercase;
  font-family: Verdana, Geneva, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover{
  text-decoration: none;
}

table.login {
  position: absolute;
  left: calc(50% - 157px);
  top: calc(50% - 72px);
  background-color: #90B4FE;
  padding: 5px;
  border: 5px solid white;
  border-radius: 15px;
}

div.header {
  background-color: #91dc47;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 20px;
  margin: 0 5px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-left: 5px solid white;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
}

div.header nav {
  margin-left: calc(50% - 220px);
}

div.header nav a {
    margin-left: 10px;
}

div.header nav a:hover{
  background: linear-gradient(#91DC47, #63B132, #91DC47);
  border-radius: 15px;
}

div.content {
  position: absolute;
  top: 25px;
  width: 80%;
  background-color: #90B4FE;
  height: calc(100% - 90px);
  margin-left: 10%;
  overflow: auto;
  border-left: 5px solid white;
  border-right: 5px solid white;
}

div.footer {
  padding: 5px;
  background-color: #91dc47;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  margin: 0 5px;
  border-left: 5px solid white;
  border-right: 5px solid white;
  border-top: 5px solid white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

div.img {
  width: 50px;
  height: 50px;
  float: left;
}

div.clj {
  background:url('../images/clojure-logo.png') center top no-repeat;
}

div.lein {
  background:url('../images/lein-logo.png') center top no-repeat;
}

div.drools {
  background:url('../images/drools-logo.png') center top no-repeat;
}

div.made-by {
  margin-left: calc(50% - 236px);
  height: 50px;
  float: left;
}

div.made-by div {
  line-height: 25px;
  text-align: center;
}

input, textarea, select {
  color: #fff;
  background-color: #91dc47;
  border: 2px solid white;
  width: 200px;
  border-radius: 15px;
/*  display: inline-block;*/
/*  outline: none;*/
/*  box-shadow: inset 1px 1px 2px #ddd8dc;*/
}

textarea {
  padding: 5px;
}

input[type="button"] {
  width: auto;
  text-transform: lowercase;
}

input[type="button"]:hover {
  background-color: #63b132;
}

input[type="radio"] {
  width: auto;
}

.error {
  background-color: #ff8484;
}

div.sidebar-menu {
  position: absolute;
  top: 25px;
  right: 90%;
  max-width: 6.6%;
  background-color: #63B132;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  border-bottom-left-radius: 15px;
  padding: 5px;
}

div.sidebar-menu ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

div.sidebar-menu ul li {
  
}

div.sidebar-menu a:hover,
div.sidebar-menu a.selected {
  background: linear-gradient(#63B132, #91DC47, #63B132);
  border-radius: 15px;
}

div.please-wait-anim {
  position: absolute;
  z-index: 2;
  left: calc(50% - 97px);
  top: calc(50% - 45px);
  width: 195px;
  height: 90px;
  background-image: url('../images/please-wait.gif');
  background-repeat: no-repeat;
  background-size: 195px 90px;
}

div.please-wait-background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  opacity: 0.2;
}

div.entity,
div.entities {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.entities table {
  border-spacing: unset;
  font-size: small;
}

div.entity h3 {
  text-align: center;
}

.entities table tr td {
  padding: 2px;
}

div.current-page {
  background: linear-gradient(#90B4FE, #5881D8, #90B4FE);
  border-radius: 15px;
}

div.pagination {
  display: flex;
  justify-content: center;
}

div.pagination div{
  margin-left: 10px;
}

div.pagination div:nth-child(1) {
  min-width: 30px;
}

div.pagination div:nth-child(2) {
  min-width: 62px;
}

div.pagination div:nth-child(3),
div.pagination div:nth-child(4),
div.pagination div:nth-child(5) {
  min-width: 27px;
}

div.pagination div:nth-child(6) {
  min-width: 32px;
}

div.pagination div:nth-child(7) {
  min-width: 27px;
}

/* begin odd header row style */

.entities table tr th {
  padding: 0 10px;
  text-align: center;
}

.entities table tr:nth-child(1) th {
  background-color: #91DC47;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.entities table tr:nth-child(1) th:first-child {
  border-left: 2px solid white;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.entities table tr:nth-child(1) th:last-child {
  border-right: 2px solid white;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.entities table tr:nth-child(1) th:nth-child(2n) {
  background: linear-gradient(to right, #91DC47, #63B132 30%, #63B132 70%, #91DC47);
}

/* end odd header row style */

/* begin odd row style */

.entities table tr:nth-child(2n+1) td {
  padding: 4px 2px;
}

.entities table tr:nth-child(2n+1) td:first-child {
  padding-left: 4px;
  padding-right: 2px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.entities table tr:nth-child(2n+1) td:last-child {
  padding-left: 2px;
  padding-right: 4px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.entities table tr:nth-child(2n+1) td:nth-child(2n) {
  background: linear-gradient(to right, #90B4FE, #A5C3FF 30%, #A5C3FF 70%, #90B4FE);
}

/* end odd row style */

/* begin even row style */

.entities table tr:nth-child(2n) td {
  background-color: #a5c3ff;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.entities table tr:nth-child(2n) td:first-child {
  border-left: 2px solid white;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.entities table tr:nth-child(2n) td:last-child {
  border-right: 2px solid white;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.entities table tr:nth-child(2n) td:nth-child(2n) {
  background: linear-gradient(to right, #A5C3FF, #90B4FE 30%, #90B4FE 70%, #A5C3FF);
}

/* end even row style */

/* begin row hover style */

.entities table tr:hover td {
  background-color: #5881D8;
  padding: 2px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.entities table tr:hover td:first-child {
  border-left: 2px solid white;
  padding-left: 2px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.entities table tr:hover td:last-child {
  border-right: 2px solid white;
  padding-right: 2px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.entities table tr:hover td:nth-child(2n) {
  background: linear-gradient(to right, #5881D8, #4670C9 30%, #4670C9 70%, #5881D8);
}

/* end row hover style */

a,
input[type="button"] {
  cursor: pointer;
}







div.maincontent {
  display: inline-block;
  width: 890px;
  background-color: #90b4fe;
  border-radius: 15px;
  padding:5px;
  margin-bottom: 5px;
}
div.grocery-nav a,
div.organism-nav a,
div.meal-nav a{
  text-decoration: none;
  color: #fff;
}
div.grocery-nav a:hover,
div.organism-nav a:hover,
div.meal-nav a:hover{
  color: #91dc47;
}
td.iremove a{
  color: #5881d8;
  text-decoration: none;
}
td.iremove:hover {
  border-radius: 15px;
  background-color: #5881d8;
  color: #fff;
}
td.iremove:hover a{
  color: #90b4fe;
}
td.iremove:active {
  background-color: #fff;
  color: #fff;
}
td.iremove:active a{
  color: #90b4fe;
}
div.left-column {
  float: left;
  margin: 5px;
  margin-right: 10px;
  border: solid 5px #fff;
  padding: 5px;
  background-color: #63b132;
  border-radius: 15px;
}
div.middle-column {
  float: left;
  font-size: 14px;
}
div.right-column {
  float: left;
}
form#grocery-form tr td:first-child,
form#organism-form tr td:first-child,
form#meal-form tr td:first-child,
table.organism-table tr td:first-child {
  text-align:right;
}
input.option {
  border: 0px;
  background: none;
  color: #5881d8;
  width: auto !important;
  border-radius: 15px;
}
input.option:hover {
  color: #90b4fe;
  background-color: #5881d8;
}
/*input[type="radio"] {
  display:none;
}
input[type="radio"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url('../images/radio.png') left top no-repeat;
  cursor:pointer;
}
input[type="radio"]:checked + label span {
  background:url('../images/radio.png') -19px top no-repeat;
}*/
.center-align {
  text-align: center !important;
}
.ingredients input{
  text-align:right;
  width: 60px
}
tr.ingredients td:first-child {
  vertical-align: top;
}
table.grocery-table tr:nth-child(even),
table.meal-table tr:nth-child(even),
table.day tr:nth-child(even) {
  background-color: #a5c3ff;
}

div.login,
div.forgot {
  background-color: #90b4fe;
  border-radius: 15px;
  border: solid 5px #fff;
  position:absolute;
  left:50%;
  margin:-100px 0 0 -190px;
  padding: 5px;
  top: 50%;
  text-align: right;
}
div.organism {
  background-color: #90b4fe;
  border-radius: 15px;
  border: 5px solid #fff;
  padding: 5px;
  width: 730px;
  left:10%;
  position:absolute;
}
div.login a,
div.forgot a,
td#to-login a,
td.gedit a,
td.gdelete a,
td.mledit a,
td.mldelete a,
div.page-not-found a {
  text-decoration: none;
  color: #5881d8;
  padding: 0 5px;
}
div.login a:hover,
div.forgot a:hover,
td#to-login a:hover,
td.gedit a:hover,
td.gdelete a:hover,
td.mledit a:hover,
td.mldelete a:hover,
div.page-not-found a:hover {
  background-color: #5881d8;
  color: #90b4fe;
  border-radius: 15px;
}
div.login input#submit,
div.forgot input#submit {
  float:left;
}

div.home {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align: center;
  padding: 20px 0;
}
td#error-msgs div.help {
  display: list-item;
  list-style-type: circle;
  list-style-position: inside;
  text-align: left;
}
table.planishrane-template {
  margin-left: auto;
  margin-right: auto;
}
select#obirthday-year {
  width: 57px;
}
select#obirthday-month {
  width: 100px;
}
select#obirthday-day {
  width: 39px;
}
div#ingredient-table {
  background-color: #63b132;
  border-radius: 15px;
  border: solid 5px #fff;
  position:absolute;
  left:400%;
  margin:-100px 0 0 -190px;
  padding: 5px;
  top: 83%;
  text-align: right;
  z-index:1;
}
table.ing-tbl tr td{
  width: auto !important;
  height: auto !important;
  border-top: 0 !important;
}
table.ing-tbl tr:nth-child(even) {
  background-color: #91dc47;
}
div.ingredient-tbl {
  position: relative;
}
div.planishrane-final {
  background-color: #91dc47;
  border-radius: 15px;
  border: solid 5px #fff;
  padding: 5px;
  position: relative;
}
div.exit,
div.ingredients-heading {
  float:left;
}
div.ingredients-heading {
  padding-left: 90px;
}
div.page-not-found {
  background-color: #91dc47;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  font-size: 25px;
}
table.clock th{
  text-align: center;
}
table.day td{
  text-align: center;
  border-top: 1px solid #fff;
  width: 50px;
  height: 50px;
}
div[class*="drag"] {
  width: 50px;
  border-radius: 15px;
  position: relative;
}
div.shell {
  width: 50px;
  height: 50px;
  position: relative;
}
div.angular {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
